{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission - Vertical Limit Academy</title>
    <link rel="icon" type="image/x-icon" href="/static/vertical.jpg">
    <link rel="stylesheet" href="{% static 'admission.css' %}">
</head>
<body>
    <div class="top-nav">
        <img src="/static/vertical.jpg" alt="Vertical Limit Academy Logo">
        <div class="sub-links">
            <a href="home">Home</a>
            <a>Admission</a>
            <a href="about_us">About us</a>
            <a href="program">Program</a>
            <a href="contact">Contact</a>
            <a href="facilities">Facilities</a>
        </div>
        <div id="overlay" class="overlay">
            <a onclick="closeNav()" id="closebtn">&times;</a>
            <div class="overlay-content">
                <img src="/static/vertical.jpg" alt="Vertical Limit Academy Logo">
                <a href="home">Home</a>
                <a>Admission</a>
                <a href="about_us">About us</a>
                <a href="program">Program</a>
                <a href="contact">Contact</a>
                <a href="facilities">Facilities</a>
            </div>
        </div>
        
        <a onclick="openNav()" id="openbtn">&#9776;</a>
    </div>

        <button onclick="topFunction()" id="myBtn" title="Go to Top">&#128507;</button>
    </div>
    <img id="start" src="/static/j1_class.jpg" width="100%" alt="">
    <div class="content">
        <p>Follow the steps below to apply to Vertical Height Academy</p>
        <h2>STEP 1 - Pre-Registration</h2>
        <p>You are to carefully provide your valid details in the form below and click on "Proceed".</p>
        <h2>STEP 2 - Application Fee</h2>
        <p>You will then be redirected to a page with options to pay a <b><u>non-refundable</u></b> application fee.</p>
        <h2>STEP 3 - Download Registration Form</h2>
        <p>After completing your payment, you will be able to download the registration form for Vertical Height Academy</p>
        <h4>Below are the documents that would be required during the registration process :</h4>
        <div class="data">
            <p>&#128504;</p>
            <p>Applicant's Biodata</p>
        </div>
        <div class="data">
            <p>&#128504;</p>
            <p>O' Level result(awaiting data is acceptable)</p>
        </div>
        <div class="data">
            <p>&#128504;</p>
            <p>Functional e-mail address and phone number</p>
        </div>
        <div class="data">
            <p>&#128504;</p>
            <p>Passports Photographs</p>
        </div>
        <div class="data">
            <p>&#128504;</p>
            <p>National Identification Number (NIN) Upload</p>
        </div>
        <a href="">
            <div class="form" title="Proceed to purchase form">
                <p>Proceed to Pre-Registration Form</p>
                <p>&#128504;</p>
            </div>
        </a>
    </div>
    
    <div class="final">
        <div class="final-links">
            <a href="home" title="Home"><p>Home</p></a>
            <a href="admission"><p>Admission</p></a>
            <a href="about_us"><p title="About us">About us</p></a>
            <a href="program" title="Programmes"><p>Program</p></a>
            <a href="contact" title="Contact us"><p>Contact</p></a>
            <a href="facilities" title="Our facilities"><p>Facilities</p></a>
        </div>
        <div class="contacts">
            <h3>Contacts</h3>
            <p>+23438776537</p>
            <p id="last">+23425468909</p>
            <p>Copyright @ Vertical Limit Academy</p>
            <p style="color: rgba(90, 19, 19, 0.8); font-weight: 600;">Developer ~ ANONYMOUS</p>
        </div>
        <div class="contacts">
            <h3>Location</h3>
            <p>N<u>O</u> 7 Lucky Osazee Street, Off Airport Road, After Estate Gate, Besides DVD Filling Station, G.R.A, Benin City, Edo State.</p>
        </div>
    
    <script>
        window.onscroll = function() {scrollfunction()}
        function scrollfunction(){
            mybutton = document.getElementById('myBtn');
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20){
                mybutton.style.display = 'block';
            }else{
                mybutton.style.display = 'none';
            }
        }
    </script>
    <script src="/static/index.js"></script>
</body>
</html>