{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="icon" type="image/x-icon" href="/static/vertical.jpg">
    <title>Home - Vertical Limit Academy International Schools</title>
</head>
<body>

    <div class="top-nav">
        <img src="/static/vertical.jpg" alt="Vertical Limit Academy Logo">
        <div class="sub-links">
            <a>Home</a>
            <a href="admission/">Admission</a>
            <a href="about_us/">About us</a>
            <a href="program/">Program</a>
            <a href="contact/">Contact</a>
            <a href="facilities/">Facilities</a>
        </div>
        <div id="overlay" class="overlay">
            <a onclick="closeNav()" id="closebtn">&times;</a>
            <div class="overlay-content">
                <img src="/static/vertical.jpg" alt="Vertical Limit Academy Logo">
                <a>Home</a>
                <a href="admission/">Admission</a>
                <a href="about_us/">About us</a>
                <a href="program/">Program</a>
                <a href="contact/">Contact</a>
                <a href="facilities/">Facilities</a>
            </div>
        </div>
        
        <a onclick="openNav()" id="openbtn">&#9776;</a>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to Top">&#128507;</button>
    <div class="content">
        <div class="first-img">
            <img width="100%" src="/static/j1.jpg" alt="">
            <h1 id="h1" class="glow">VERTICAL LIMIT ACADEMY </h1>
            <div class="text-slide">
                <div class="text-wrap">
                    <div class="text">
                        <span><b><i>Vertical Limit Academy</i></b></span>
                        <span>Shining Bright For Christ</span>
                        <span>N<u>o</u>7 Lucky Osazee Street,</span>
                        <span>Off Airport Road,</span>
                        <span>G.R.A, Benin City, Edo State.</span>
                    </div>
                </div>
            </div>
            <a href="admission/"><p id="an">Apply Now</p></a>
        </div>

        <div class="main">
            <p id="offer">What We Offer!</p>
            <h3>Study Programs</h3>
            <p id="visit">Visit the program page for more about the academic programs we offer</p>
        </div>
    
        <div class="exams-cont">
            <div class="exams">
                <img src="/static/JUPEB-Logo.png" alt="JUPEB LOGO">
                <h4>A' LEVEL PROGRAM</h4>
                <h3>JUPEB, IJMB, CAMBRIDGE</h3>
            </div>
            <div class="exams">
                <img src="/static/JAMB-LOGO.jpg" alt="JAMB LOGO">
                <h4>UTME/POST-UTME</h4>
                <h3>Gain access to experienced tutors</h3>
            </div>
            <div class="exams">
                <img src="/static/WAEC-LOGO.jpg" alt="WAEC LOGO">
                <h4>WAEC/NECO</h4>
                <h3>Clear your papers in one sitting</h3>
            </div>
        </div>

        <div class="cont">
            <div class="image">
                <img width="100%" src="/static/foreign_image.jpg" alt="">
            </div>
            <div class="mission">
                <h3>OUR MISSION</h3>
                <p>Empowered by our <b><i>FAITH IN THE ALMIGHTY GOD, VERTICAL HEIGHT ACADEMY</i></b> is committed to providing a holistic education that integrates academic rigor, spiritual growth and character development. We aim to inspire students to achieve their full potential, cultivate a sense of purpose and service and become active citizens who shine lights in their communities, reflecting the love and values of our <b><i>LORD JESUS CHRIST</i></b></p>
                <h4 id="rm">Read More</h4>
            </div>
            <div class="vision">
                <h3>OUR VISION</h3>
                <p>Envisioning a school community where <b>STUDENTS, TEACHERS</b> and <b>STAFF</b> thrive in a nurturing environment, anchored in biblical values and committed to academic rigor, creative expressions and service to others thereby resulting in graduates who are spiritually grounded, intellectually equipped and morally resilient, ready to make a <b><i>positive impact in the world.</i></b></p>
                <h4 id="rm">Read More</h4>
            </div>
        </div>
    </div> 

    <div class="final">
        <div class="links-credits">
            <div class="final-links">
                <p style="color: orange; border-bottom: 3px solid orange;">Home</p>
                <a href="admission/"><p>Admission</p></a>
                <a href="about_us/"><p>About us</p></a>
                <a href="program/"><p>Program</p></a>
                <a href="contact/"><p>Contact</p></a>
                <a href="facilities/"><p>Facilities</p></a>
            </div>
        </div>
        <div>
            <div class="contacts">
                <p>+23438776537</p>
                <p id="last">+23425468909</p>
                <div class="credit">
                    <p>Copyright @ Vertical Height Academy</p>
                    <p>Developer ~ ANONYMOUS</p>
                </div>
            </div>
        </div>
    </div>

    <script>

        function openNav(){
            document.getElementById('overlay').style.width='100%'
        }
        function closeNav(){
            document.getElementById('overlay').style.width = '0'
        }
        
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        window.onscroll = function() {scrollFunction()}
        let mybutton = document.getElementById('myBtn');
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = 'block'; 
            } 
            else {
                mybutton.style.display = 'none';
                mybutton.style.border = 'none'
            }
        }


    //     window.onclick = function(event) {
    //     if (!event.target.matches('.dropbtn')) {
    //         var dropdowns = document.getElementsByClassName("dropdown-content");
    //         var i;
    //         for (i = 0; i < dropdowns.length; i++) {
    //         var openDropdown = dropdowns[i];
    //         if (openDropdown.classList.contains('show')) {
    //             openDropdown.classList.remove('show');
    //         }
    //         }
    //     }
    // } 
    </script>
    <script src="/static/index.js"></script>
</body>
</html>

