{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="icon" type="image/x-icon" href="/static/vertical.jpg">
    <title>Home - Vertical Height Academy International Schools</title>
</head>
<body>
    <div class="first-head">
        <img src="/static/vertical.jpg" alt="">
        <p>Facilities</p>
        <p>Contact</p>
        <p>Programme</p>
        <p>About us</p>
        <p>Admission</p>
        <p style="border-bottom: 3px solid orange; color: orange;">Home</p>

        <div class="nav">
            <a href="">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </a>
        </div>
    </div>

    <div class="content">
        <div class="first-img">
            <img width="100%" src="/static/exterior.jpg" alt="">
            <h1 id="h1">Welcome to VERTICAL LIMIT ACADEMY </h1>
            <h2 id="h2">Knowledge For Empowerment, Infinity Logistics Swaying To Global Tides</h2>
            <p id="an">Apply Now</p>
        </div>

        <div class="main">
            <p>What We Offer!</p>
            <h3>Study Programs</h3>
            <p id="visit">Visit the program page for more about the academic programs we offer</p>
        </div>
    
        <div class="exams">
            <img src="/static/JUPEB-Logo.png" alt="">
            <h4>A' LEVEL PROGRAM</h4>
            <h3>JUPEB, IJMB, CAMBRIDGE</h3>
        </div>
        <div class="exams">
            <img src="/static/JAMB-LOGO.jpg" alt="">
            <h4>UTME/POST-UTME</h4>
            <h3>Gain access to experienced tutors</h3>
        </div>
        <div class="exams">
            <img src="/static/WAEC-LOGO.jpg" alt="">
            <h4>WAEC/NECO</h4>
            <h3>Clear your papers in one sitting</h3>
        </div>

        <div class="cont">
            <div class="image">
                <img width="100%" src="/static/foreign_image.jpg" alt="">
            </div>
            <div class="mission">
                <h3>OUR MISSION</h3>
                <p>Our mission at <b>VERTICAL HEIGHT ACADEMY</b> is to offer individualized, encouraging tutoring services that enable our students to realize their maximum academic potential. We work to provide a pleasant, supportive atmosphere in which students can flourish because we believe that every student is special and has the potential to excel.</p>
            </div>
        </div>
    </div>

    <script>
        // window.alert("Welcome To VERTICAL LIMIT ACADEMY\nMotto: Knowledge For Empowerment\nSlogan: . . . infinity logistics swaying to global tides\nClick 'ok' to continue")

    </script>
    <script src="/static/index.js"></script>
</body>
</html>
