<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Page</title>
</head>
<body>

    <p id="test" ></p>
    <p id="num"></p>


    <script>
        let list = ['Mary','Etima','Donald','Tony','Emana','Harmony']
        let text = 'inemesit'
        let num = list.length
        let i = 0
        for (let i = 0; i < num;i++){
            i++
            document.getElementById('test').innerHTML = 'The Umofia Family have '+ i +' Children<br>'
        }
    </script>
</body>
</html>