{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'python.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="myNav" class="overlay">

        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"></a>

        <div class="overlay-content">
            <a href="">About</a>
            <a href="">Clients</a>
            <a href="">Associates</a>
            <a href="">Contacts</a>
            <a href="">Organisation</a>
        </div>
    </div>

    <div class="text-slide">
        <div class="text-wrap">
            <div class="text">
                <span>Vertical Limit Academy</span>
                <span>Shining Bright For Christ</span>
                <span>Knowledge For Empowerment</span>
                <span>Providing A Holistic Serene Environment</span>
                <span>In GOD We Serve</span>
            </div>
        </div>
    </div>

    <p onclick="openNav()" style="font-size: 25px; cursor: pointer;">&#9776;open</p>

    <script>
        function openNav(){
            document.getElementById('myNav').style.width = '100%'
        }
        function closeNav(){
            document.getElementById('myNav').style.width = '0%'
        }
        
    </script>
</body>
</html>