* {user-select: none; margin: 0; padding: 0%; box-sizing: border-box; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
html {scroll-behavior: smooth;}

.top-nav img{
    float: left;
    width: 7vw;
    margin-top: 10px;
    margin-left: 10px;
    transition: 0.3s;
}

.content {width: 90%; margin: auto; transition: 0.5s;}
.content p,h4,h2 {font-size: 1.5vw; line-height: 7vh; transition: 0.5s;}
#cond, .content img {float: left;}
.data {width: 100%; margin-top: 10px;}
.data p {margin-left: 2px;}
.form p {float: left; padding: 5px 15px; color: black;}
.form img {float: right; margin-top: 3.3vh; padding-right: 10px; width: 37px;}
.form {width: fit-content; background: rgba(1000, 0, 0, 0.6); margin-top: 20px; margin-bottom: 30px; border-radius: 8px; box-shadow: 2px 2px 10px black;}
.form:hover {background: black; transition: 0.4s;}
.form:hover p {color: white;}
.form::after {
    clear: both;
    content: "";
    display: table;
}

.final {float: left; width: 100%; box-shadow: 0px 0px 30px black; margin-top: 50px; border-top-left-radius: 15px; border-top-right-radius: 15px;}
.final-links a, .first-head a{color: black; text-decoration: none;}
.final-links p {width: fit-content; float: left; margin: 5px; font-size: 1.2vw; font-weight: 700; margin-bottom: 20px; padding: 12px; margin-top: 30px; transition: 0.2s;}
.final-links {height: auto; border: none; width: 50%; float: left; margin: 0; margin-top: 30px; margin-left: 10px; padding-bottom: 0px;}
.final-links p:hover {border-bottom: 3px solid rgba(100, 0, 0, 0.8); transition: 0.2s; color: rgba(100, 0, 0, 0.8);}
.contacts {width: 45%; font-size: 1.5vw; float: right; margin: 0; margin-top: 50px; margin-right: 30px; text-align: center;}
#last { border-bottom: 1px solid black; padding-bottom: 5px;}
.credit {margin-top: 10px;}
.data img {width: 37px; margin-top: 2.2vh;}
.credit {margin-bottom: 30px;}
.final-links::after{
    clear: both;
    display: table;
    content: "";
}

#start {border-bottom-right-radius: 15px; border-bottom-left-radius: 15px;}
#myBtn {position: fixed; bottom: 30px; right: 20px; color: white; padding: 12px; background: rgb(250, 111, 111); border-radius: 8px; border: none; font-size: 15px; transition: 0.3s; z-index: 1;}
#myBtn:hover {background: rgb(252, 71, 71); transition: 0.3s;}
@media screen and (max-width:800px) {
    .content {width: 90%;}    
    .content p,h4,h2 {font-size: 2.8vw; line-height: 5vh;}
    .data img {width: 37px; margin-top: 1vh;}
    .final {width: 100%;}
    .final-links {height: auto; border: none; width: 50%; float: left; margin: 0; margin-top: 30px; margin-left: 10px; padding-bottom: 0px;}
    .final-links p {margin-bottom: 0px; float: left; margin: 0; width: fit-content; margin: auto; height: 40px; margin-top: 10px; display: block; text-align: center; font-size: 2vw;}
    .contacts {font-size: 2vw; float: right; margin: 0; width: fit-content; margin-top: 50px; margin-right: 30px;}
    .form img {margin-top: 2vh;}
    .credit p, .contacts p { font-weight: 700;}
    .sub-links {display: none;}
    .top-nav img{margin-right: 75%; width: 12vw;}
    .top-nav {height: 16vw;}
}
@media screen and (min-width:801px) {
    #openbtn{display: none;}    
}

.data::after{
    content: "";
    clear: both;
    display: table;
}

.overlay{
    width: 0;
    top: 0;
    position: fixed;
    left: 0;
    background: black;
    z-index: 1;
    overflow: hidden;
    height: 100%;
    transition: 0.6s;
}
.overlay-content{
    text-align: center;
    position: relative;
    top: 30%;
}
.overlay-content a {
    display: block;
    color: #818181;
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: none;
    transition: 0.4s;
}
.overlay-content img{
    position: fixed;
    top: 0px;
    left: 0px;
}
.overlay-content a:hover, .overlay #closebtn:hover{
    color: red;
    transition: 0.4s;
}
.overlay #closebtn{
    color: white; 
    font-size: 30px; 
    right: 33px; 
    position: absolute; 
    cursor: pointer;
    top: 5%;
    transition: 0.4s;
}
.top-nav{
    background: white;
    width: 100%;
    box-shadow: 0px 4px 15px black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 1vw;
    position: fixed;
    z-index: 1;
}
.top-nav::after{
    content: "";
    clear: both;
    display: table;
}
.sub-links{
    width: 80vw;
    float: right;
    margin: auto;
    margin-top: 3vw;
    margin-left: 2vw;
}
.sub-links a{
    text-decoration: none;
    font-size: 1.8vw;
    width: fit-content;
    padding: 0 10px 5px 10px;
    color: black;
    font-weight: 600;
    transition: 0.2s;
    margin: 5px;
}
.sub-links a:hover{
    border-bottom: 2px solid rgba(90, 19, 19, 0.8);
    transition: 0.2s;
    color: rgba(90, 19, 19, 0.8);
}
.sub-links a:nth-child(2){
    border-bottom: 2px solid rgba(90, 19, 19, 0.8);
    color: rgba(90, 19, 19, 0.8);
}
.overlay-content a:nth-child(3){
    color: rgba(1000, 19, 19, 0.7);
}
#openbtn{
    font-size: 25px; 
    text-align: right; 
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: 30%;
    transition: all ease-in-out 0.5s;
}
#openbtn:hover{
    color: red;
    transition: all ease-in-out 0.3s;
}
.data p{float: left;}
.data:hover p{color: rgba(1000, 0, 0, 0.9);}
.data, .data.p{width: fit-content;}

/* #myContainer {
    width: 350px;
    height: 350px;
    position: relative;
    background: yellow;
    margin: auto;
}
#myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
    background: red;
} */